<extend name="./Head/head"/>
<block name="title">
<title>我的图书馆</title>
</block>
<block name="head">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css1/ht.css"/>
<div class="typrography">
  <div class="container">
      <h3 class="type text-center">我的图书馆</h3>
      	<div id="main-r">
	<div id="main-p">
              
			<div class="left fl">
            <div class="div1">
            <div class="left_top">
	            <img src="__PUBLIC__/Home/images/images2/bbb_01.jpg">
                <img src="__PUBLIC__/Home/images/images2/bbb_02.jpg" id="2">
                <img src="__PUBLIC__/Home/images/images2/bbb_03.jpg">
                <img src="__PUBLIC__/Home/images/images2/bbb_04.jpg">
            </div>
            <div class="div2">
  	        <div class="jbsz"></div>
                <a href="{:U('Home/User/index')}">个人信息</a>
            </div>
             <div class="div2">
  	        <div class="xwzx"></div>
               我的借阅
            </div>
            <div class="div3">
                 <ul>
		             <li> <a href="{:U('Home/Alljieyue/alljieyue')}">全部借阅</a></li>
		           
                 </ul>
            </div>
            <div class="div2">
  	        <div class="zxcp"></div>
                我的积分
            </div>
            <div class="div3">
             <ul>
		        <li>积分管理</li>
		        <li>积分兑换</li>
                
             </ul>
            </div>
            <div class="div2">
  	        <div class="lmtj"></div>
                评价管理
            </div>
            <div class="div3">
                <ul>
		        <li><a href="{:U('Home/User/comment')}">用户评价</a></li>
                 </ul>
            </div>
  
            <div class="div2">
  	        <div class="zxcp"></div>
                 服务中心
            </div>
            <div class="div3">
                <ul>
		        <li><a href="{:U('Home/Kf/index')}">在线客服</a></li>
               
                 </ul>
            </div>
            <div class="div2">
  	        <div class="lmtj"></div>
                联系方式
            </div>
            <div class="div3">
                <ul>
		        <li><a href="{:U('Home/Re/index')}">email</a></li>
                 </ul>
            </div>
            </div>
            </div>
		<div class="success9">
			
      	<center>
          <div style="margin-top:-100px">
              <font style="color:#F6416C;font-weight:bold">欢迎<?php echo $_SESSION['username'];?>进入借阅中心
              </font>
          </div>
        </center>
		  <div>
        <div class="contact_desc">
            <div class="container">
               <div class="contact-form">
                  <table border="1" width="780px" height="100px" style="margin-top:-5px;margin-left:1px">
                  <tr>
                      <th style="text-align:center">ID</th>
                      <th style="text-align:center">图书名</th>
                      <th style="text-align:center">图书图片</th>
                      <th style="text-align:center">借阅时间</th>
                      <th style="text-align:center">状态</th>
                      <th style="text-align:center">操作</th>
                  </tr>
                  <foreach name="jies" item="vo">
                  <tr>
                      <td class="j_id" style="text-align:center">{$vo.j_id}</td>
                      <td style="text-align:center">{$vo.book}</td>
                      <td style="text-align:center"><img src="__PUBLIC__{$vo.pic}" alt="" width="50px"></td>
                      <td style="text-align:center">{$vo.jtime}</td>
                      <td style="text-align:center">
                        <?php
                            switch ($vo['j_status']) {
                              case '0':
                                echo '未归还';
                                break;          
                              case '1':
                                echo '已归还';
                                break;
                            }
                        ?>
                      </td>
                      <td style="text-align:center">
                      <!-- 归还评论 -->
                        <if condition="$vo['j_status'] eq (1)">
                          

                          <a href="{:U('Home/User/docomment',array('j_id'=>$vo['j_id']))}">
                            <button class="btn btn-danger btn-del"><i class="icon-edit"></i>
                              评论
                            </button>
                          </a>
                        <else/>
                            
                              <button class="btn btn-primary guihuan" disabled="true" type="button"><i class="icon-edit"></i>归还</button>
                            
                        </if>
                      </td>
                  </tr>
                  </foreach>
                  <tr>
                      
                    <!--   <td colspan="4" style="text-align:right"><a href="{:U('Home/Jieyue/update',array('jid'=>$_SESSION['uid']))}" class="btn btn-primary hvr-rectangle-in">Confirmation of loan</a></td> -->
                  </tr>
              </table>
              <div class="clearfix"></div>
          </div>
              <div class="clearfix"></div>
                  </div>  
               </div>  
            </div>

      </div>
			
		</div>
	</div>
		

      
  </div>    
 <script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>
<script>
$(function(){
	$(".div2").click(function(){ 
		$(this).next("div").slideToggle("slow").siblings(".div3:visible").slideUp("slow");
	});
});
</script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
// alert($);
  $(function(){
    $('.guihuan').bind("click",function(){
      var j_id = $(this).parents('tr').find('.j_id').html();
      // alert(j_id);
      var tr =$(this);
     // alert(tr);
     $.ajax({
       url:'{:U("Home/Alljieyue/update")}',
       data:{id:j_id},
       type:'get',
       success:function(data){
         if(data){
           echo 1;
         }
       }
    })
  })

</script>
<div class="clear"></div>
</block>