
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
hr {
    box-sizing: content-box;
    height: 0;
}
button, html input[type="button"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
ol, ul {
    list-style: outside none none;
}
img {
    border: 0 none;
    vertical-align: middle;
}
em, i, u {
    font-style: normal;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.al {
    text-align: left;
}
.ac {
    text-align: center;
}
.ar {
    text-align: right;
}
.hide {
    display: none;
}
.clear, .clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
.dorpdown {
    position: relative;
}
.dorpdown-layer {
    display: none;
    position: absolute;
}
.dorpdown:hover .dorpdown-layer, .hover .dorpdown-layer {
    display: block;
}
.cw-icon {
    cursor: default;
    position: relative;
}
.cw-icon .i, .cw-icon i {
    display: block;
    overflow: hidden;
    position: absolute;
}
.w {
    margin: 0 auto;
    width: 990px;
}
.root61 .w {
    width: 1210px;
}
body {
    background: #fff none repeat scroll 0 0;
    color: #666;
    font: 12px/150% Arial,Verdana,"宋体";
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #c81623;
}
.m, .mb, .mc, .mt, .p-detail, .p-img, .p-market, .p-name, .p-price, .sm, .smb, .smc, .smt {
    overflow: hidden;
}
.img-error {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/lib/skin/e/i/error-jd.gif") no-repeat scroll 50% 50%;
}
#shortcut-2014 {
    background: #f1f1f1 none repeat scroll 0 0;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
#shortcut-2014 .w {
    background: #f1f1f1 none repeat scroll 0 0;
}
#shortcut-2014 li {
    float: left;
    height: 30px;
    padding: 0 2px;
}
#shortcut-2014 li#ttbar-navs {
    padding: 0 1px 0 2px;
}
#shortcut-2014 li#ttbar-navs.hover, #shortcut-2014 li#ttbar-navs:hover {
    padding: 0 0 0 1px;
}
#shortcut-2014 li.dorpdown {
    z-index: 13;
}
#shortcut-2014 li.dorpdown:hover {
    padding: 0 1px;
}
#shortcut-2014 li.dorpdown:hover .dt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
}
#shortcut-2014 li.hover {
    padding: 0 1px;
}
#shortcut-2014 li.hover .dt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
}
#shortcut-2014 li.spacer {
    background: #ddd none repeat scroll 0 0;
    height: 12px;
    margin-top: 9px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
#shortcut-2014 .dt {
    float: left;
    padding: 0 8px;
}
#shortcut-2014 .dd {
    line-height: 24px;
}
#shortcut-2014 .loading {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/loading.gif") no-repeat scroll center center;
    display: block;
    height: 50px;
}
#shortcut-2014 .dorpdown-layer {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    top: 30px;
}
#shortcut-2014 .ci-right {
    color: #6a6a6a;
    font: 400 15px/15px consolas;
    height: 7px;
    overflow: hidden;
    right: 8px;
    top: 12px;
    transition: transform 0.1s ease-in 0s;
}
#shortcut-2014 .ci-right s {
    position: relative;
    text-decoration: none;
    top: -7px;
}
#shortcut-2014 li:hover .ci-right {
    transform: rotate(180deg);
}
#shortcut-2014 .dd-spacer {
    background: #fff none repeat scroll 0 0;
    height: 10px;
    overflow: hidden;
    position: absolute;
    top: -7px;
}
#shortcut-2014 .style-red {
    color: #c81623;
}
#shortcut-2014 #ttbar-home {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/jd2015img.png") no-repeat scroll 0 -136px;
    padding-left: 20px;
}
#shortcut-2014 #ttbar-mycity {
    padding-left: 0;
}
#shortcut-2014 #ttbar-mycity .dt {
    padding: 0 25px 0 10px;
}
#shortcut-2014 #ttbar-mycity:hover .dt {
    padding: 0 24px 0 9px;
}
#shortcut-2014 #ttbar-mycity .dd {
    padding: 10px 0 10px 10px;
    width: 301px;
}
#shortcut-2014 #ttbar-mycity .dorpdown-layer {
}
#shortcut-2014 #ttbar-mycity .item {
    float: left;
    padding: 2px 0;
    width: 60px;
}
#shortcut-2014 #ttbar-mycity .item a {
    float: left;
    padding: 0 8px;
}
#shortcut-2014 #ttbar-mycity .item a:hover {
    background: #f4f4f4 none repeat scroll 0 0;
}
#shortcut-2014 #ttbar-mycity .item a.selected {
    background: #c81623 none repeat scroll 0 0;
    color: #fff;
}
#shortcut-2014 #ttbar-mycity .dd-spacer {
    left: 0;
    width: 93px;
}
#shortcut-2014 #ttbar-mycity .dd-spacer-extend {
    width: 105px;
}
#shortcut-2014 #ttbar-login {
    margin-right: 10px;
}
#shortcut-2014 #ttbar-login .link-login {
    font-family: "verdana,simsun";
}
#shortcut-2014 #ttbar-apps .dt {
    padding-left: 25px;
    padding-right: 25px;
}
#shortcut-2014 #ttbar-apps .dt .ci-left {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/jd2015img.png") no-repeat scroll 0 0;
    height: 20px;
    left: 7px;
    top: 5px;
    width: 15px;
}
#shortcut-2014 #ttbar-apps .dd {
    width: 250px;
}
#shortcut-2014 #ttbar-apps .dd a {
    display: block;
    height: 44px;
    overflow: hidden;
    position: absolute;
    text-indent: -500px;
    width: 56px;
}
#shortcut-2014 #ttbar-apps .dd .link {
    height: 20px;
    overflow: hidden;
    width: 100px;
}
#shortcut-2014 #ttbar-apps .dd .link1, #shortcut-2014 #ttbar-apps .dd .link2, #shortcut-2014 #ttbar-apps .dd .link3 {
    background-position: 0 -44px;
    left: 92px;
    top: 6px;
}
#shortcut-2014 #ttbar-apps .dd .link2 {
    top: 26px;
}
#shortcut-2014 #ttbar-apps .dd .link3 {
    background-position: -1px -66px;
    top: 104px;
}
#shortcut-2014 #ttbar-apps .dd .link4, #shortcut-2014 #ttbar-apps .dd .link5 {
    color: #c21a21;
    cursor: default;
    left: 99px;
    text-indent: 0;
    top: 23px;
    width: 136px;
}
#shortcut-2014 #ttbar-apps .dd .link5 {
    top: 120px;
}
#shortcut-2014 #ttbar-apps .dd .jdapp-ipad, #shortcut-2014 #ttbar-apps .dd .wyapp-ipad {
    width: 45px;
}
#shortcut-2014 #ttbar-apps .dd-inner {
    height: 195px;
    overflow: hidden;
    position: relative;
    width: 250px;
}
#shortcut-2014 #ttbar-apps .jdapp-ios, #shortcut-2014 #ttbar-apps .wyapp-ios {
    left: 92px;
    top: 46px;
}
#shortcut-2014 #ttbar-apps .jdapp-ios:hover, #shortcut-2014 #ttbar-apps .wyapp-ios:hover {
    background-position: 3px -1px;
}
#shortcut-2014 #ttbar-apps .jdapp-android, #shortcut-2014 #ttbar-apps .wyapp-android {
    left: 147px;
    top: 46px;
}
#shortcut-2014 #ttbar-apps .jdapp-android:hover, #shortcut-2014 #ttbar-apps .wyapp-android:hover {
    background-position: -52px -1px;
}
#shortcut-2014 #ttbar-apps .jdapp-ipad, #shortcut-2014 #ttbar-apps .wyapp-ipad {
    left: 202px;
    top: 46px;
    width: 45px;
}
#shortcut-2014 #ttbar-apps .jdapp-ipad:hover, #shortcut-2014 #ttbar-apps .wyapp-ipad:hover {
    background-position: -107px -1px;
}
#shortcut-2014 #ttbar-apps .wyapp-android, #shortcut-2014 #ttbar-apps .wyapp-ios, #shortcut-2014 #ttbar-apps .wyapp-ipad {
    top: 143px;
}
#shortcut-2014 #ttbar-apps .dd-spacer {
    left: 0;
    width: 98px;
}
#shortcut-2014 #ttbar-apps.hover .dt .ci-left {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/jd2015img.png") no-repeat scroll 0 -25px;
}
#shortcut-2014 #ttbar-atte .dt, #shortcut-2014 #ttbar-serv .dt {
    padding-right: 25px;
    width: 49px;
}
#shortcut-2014 #ttbar-atte .dd, #shortcut-2014 #ttbar-serv .dd {
    padding-bottom: 8px;
    width: 82px;
}
#shortcut-2014 #ttbar-atte .item, #shortcut-2014 #ttbar-serv .item {
    display: inline-block;
    padding-left: 15px;
    width: 70px;
}
#shortcut-2014 #ttbar-atte .dd-spacer, #shortcut-2014 #ttbar-serv .dd-spacer {
    left: 0;
    width: 82px;
}
#shortcut-2014 #ttbar-serv .dd {
    width: 170px;
}
#shortcut-2014 #ttbar-serv .item {
    padding-left: 10px;
}
#shortcut-2014 #ttbar-serv .item-business, #shortcut-2014 #ttbar-serv .item-client {
    font-weight: 700;
    padding-left: 10px;
}
#shortcut-2014 #ttbar-serv .item-business {
    border-top: 1px dotted #ccc;
    margin-top: 5px;
    padding-top: 5px;
}
#shortcut-2014 #ttbar-navs .dt {
    padding-right: 25px;
    width: 49px;
}
#shortcut-2014 #ttbar-navs .dd {
    padding: 20px 0 16px;
    right: 0;
    width: 988px;
}
#shortcut-2014 #ttbar-navs dl {
    border-left: 1px solid #ddd;
    float: left;
    padding-left: 20px;
    width: 201px;
}
#shortcut-2014 #ttbar-navs dl.fore1 {
    border-left: medium none;
    width: 301px;
}
#shortcut-2014 #ttbar-navs dt {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}
#shortcut-2014 #ttbar-navs .item {
    float: left;
    width: 100px;
}
#shortcut-2014 #ttbar-navs .dd-spacer {
    right: 0;
    width: 82px;
}
#shortcut-2014 .hover .dorpdown-layer {
}
.root61 #shortcut-2014 #ttbar-navs .dd {
    width: 1210px;
}
.root61 #shortcut-2014 #ttbar-navs .fore2 {
    display: block;
}
.root61 #shortcut-2014 #ttbar-navs dl {
    width: 259px;
}
.root61 #shortcut-2014 #ttbar-navs dl.fore1 {
    width: 347px;
}
.root61 #shortcut-2014 #ttbar-navs .item {
    width: 86px;
}
#logo-2014 {
    float: left;
    height: 60px;
    padding: 20px 0;
    position: relative;
    width: 362px;
    z-index: 12;
}
#logo-2014 .logo {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/lib/img/e/logo-201305.png") no-repeat scroll 0 0;
    display: block;
    height: 60px;
    text-indent: -20000px;
    width: 270px;
}
#logo-2014 .extra {
    background: #fff none repeat scroll 0 0;
    height: 70px;
    left: 168px;
    padding-left: 10px;
    position: absolute;
    top: 15px;
    width: 180px;
}
#channel {
    color: #333;
    cursor: default;
    float: left;
    font: 400 20px/70px "microsoft yahei";
    margin-right: 10px;
}
#categorys-mini-main {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: none;
    margin-top: -1px;
    overflow: hidden;
    padding: 13px;
    position: absolute;
    width: 152px;
}
#categorys-mini-main h3 {
    color: #666;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
#categorys-mini-main a {
    color: #666;
    font-size: 12px;
    padding: 0;
}
#categorys-mini {
    color: #666;
    float: left;
    font-family: simsun;
    font-size: 12px;
    font-weight: 400;
    height: 27px;
    padding-top: 22px;
    position: relative;
}
#categorys-mini .cw-icon {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #ccc;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    width: 63px;
    z-index: 1;
}
#categorys-mini .cw-icon h2 {
    color: #666;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-weight: 400;
}
#categorys-mini .cw-icon i {
    font: 400 15px/15px consolas;
    height: 7px;
    right: 5px;
    top: 9px;
}
#categorys-mini .cw-icon s {
    position: relative;
    text-decoration: none;
    top: -7px;
}
#categorys-mini .loading {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/loading.gif") no-repeat scroll center center;
    display: block;
    height: 50px;
}
#categorys-mini .dorpdown-layer {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
}
#categorys-mini .ci-right {
    color: #6a6a6a;
    display: block;
    font: 400 15px/15px consolas;
    height: 7px;
    overflow: hidden;
    position: absolute;
    right: 7px;
    top: 8px;
    transition: transform 0.1s ease-in 0s;
}
#categorys-mini.hover .cw-icon {
    border-bottom: 0 none;
}
#categorys-mini.hover .ci-right {
    transform: rotate(180deg);
}
#search-2014 {
    float: left;
    margin-top: 25px;
    position: relative;
    width: 462px;
    z-index: 11;
}
#search-2014 .form {
    height: 36px;
    width: 462px;
}
#search-2014 .text {
    border-color: #b61d1d;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    color: #666;
    float: left;
    font-family: "microsoft yahei";
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 4px;
    outline: 0 none;
    padding: 4px;
    width: 370px;
}
#search-2014 .button {
    background: #b61d1d none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    height: 36px;
    line-height: 1;
    width: 82px;
}
#search-2014 .cw-icon i {
    height: 36px;
    left: 0;
    top: 0;
    width: 82px;
}
#hotwords-2014 {
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 462px;
}
#hotwords-2014 a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}
#shelper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 36px;
    width: 379px;
}
#shelper li {
    cursor: pointer;
    line-height: 22px;
    overflow: hidden;
    padding: 1px 6px;
}
#shelper .search-item {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}
#shelper li.fore1 .search-item {
    width: 170px;
}
#shelper .search-count {
    color: #aaa;
    overflow: hidden;
    text-align: right;
}
#shelper .close {
    border-top: 1px solid #efefef;
    text-align: right;
}
#shelper .item3 {
    cursor: default;
}
#shelper .item3 a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}
#shelper li.fore1 {
    border-bottom: 1px solid #ddd;
    padding: 0;
    width: 100%;
}
#shelper li.fore1 .item1 {
    height: 22px;
    overflow: hidden;
}
#shelper li.fore1 div.fore1 {
    padding: 0 6px;
}
#shelper li.fore1 strong {
    color: #c00;
}
#shelper li.fore1 .fore1 strong {
    color: #333;
}
#shelper li.fore1 .item1, #shelper li.fore1 .item2 {
    float: none;
    padding: 1px 6px 1px 20px;
    width: auto;
}
#shelper li.fore1 .item3 {
    color: #9c9a9c;
    float: none;
    width: auto;
}
#shelper li.fore1 span {
    float: left;
}
#shelper li.close:hover, #shelper li.fore1:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#shelper li.fore1 div:hover {
    background: #f5f5f5 none repeat scroll 0 0 !important;
}
#shelper li.brand-search {
    border-bottom: 1px solid #ddd;
    font-family: Microsoft YaHei;
}
#shelper li.brand-search .info {
    color: #e4393c;
    margin-bottom: 2px;
}
#shelper li.brand-search .bs-item {
    margin-bottom: 7px;
}
#shelper li.brand-search .bs-item .logo {
    width: 90px;
}
#shelper li.brand-search .bs-item .logo, #shelper li.brand-search .bs-item .name {
    display: inline-block;
    font-size: 14px;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
}
#shelper li.brand-search .bs-item .name {
    line-height: 30px;
    margin-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 265px;
}
.root61 #shelper li.brand-search .bs-item .name {
    width: 340px;
}
.root61 #search-2014, .root61 #search-2014 .form {
    width: auto;
}
.root61 #search-2014 .text {
    width: 446px;
}
.root61 #hotwords-2014 {
    width: 518px;
}
.root61 #shelper {
    width: 455px;
}
#appdownloadTop {
    display: none;
}
#ttbar-myjd .dt {
    padding-right: 25px;
    width: 49px;
}
#ttbar-myjd .dorpdown-layer {
    width: 280px;
}
#ttbar-myjd .userinfo {
    overflow: hidden;
    padding: 10px 0 10px 15px;
}
#ttbar-myjd .u-pic {
    float: left;
    margin-right: 10px;
}
#ttbar-myjd .u-pic img {
    border-radius: 50%;
}
#ttbar-myjd .u-name {
    font-weight: 700;
    padding: 6px 0 0;
}
#ttbar-myjd .orderlist {
    background: #000 none repeat scroll 0 0;
    display: none;
}
#ttbar-myjd .otherlist {
    margin: 5px 0 10px;
    overflow: hidden;
    padding: 0 0 0 15px;
    width: 255px;
}
#ttbar-myjd .otherlist .fore1, #ttbar-myjd .otherlist .fore2 {
    float: left;
    width: 126px;
}
#ttbar-myjd .viewlist {
    border-top: 1px dotted #ccc;
    padding: 10px 15px;
    width: 250px;
}
#ttbar-myjd .viewlist .smt {
}
#ttbar-myjd .viewlist .smt h4 {
    float: left;
}
#ttbar-myjd .viewlist .smt .extra {
    float: right;
}
#ttbar-myjd .viewlist .item {
    float: left;
    font-size: 0;
    line-height: 0;
    padding: 4px;
}
#ttbar-myjd .dd-spacer {
    left: 0;
    width: 82px;
}
#ttbar-myjd .user-level1, #ttbar-myjd .user-level2, #ttbar-myjd .user-level3, #ttbar-myjd .user-level4, #ttbar-myjd .user-level5, #ttbar-myjd .user-level6 {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jdf/1.0.0/unit/myjd/2.0.0/i/rank2014.gif") repeat scroll 0 0;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    margin-left: 5px;
    vertical-align: middle;
    width: 17px;
}
#ttbar-myjd .user-level2 {
    background-position: 0 -17px;
}
#ttbar-myjd .user-level3 {
    background-position: 0 -34px;
}
#ttbar-myjd .user-level4 {
    background-position: 0 -51px;
}
#ttbar-myjd .user-level5 {
    background-position: 0 -68px;
}
#ttbar-myjd .user-level6 {
    background-position: 0 -85px;
}
#nav-2014 {
    border-bottom: 2px solid #b1191a;
    height: 44px;
}
#nav-2014 .w {
    height: 44px;
    position: relative;
    z-index: 9;
}
#nav-2014 .w .w-spacer {
    display: none;
}
#nav-2014 .w-spacer {
    border-bottom: 2px solid #b1191a;
    border-top: 1px solid #ddd;
    height: 44px;
    position: absolute;
    top: -1px;
    width: 100%;
    z-index: 1;
}
#categorys-2014 {
    background: #b1191a none repeat scroll 0 0;
    float: left;
    height: 44px;
    overflow: visible;
    position: relative;
    width: 210px;
    z-index: 10;
}
#categorys-2014 .dt a {
    background: #b1191a none repeat scroll 0 0;
    color: #fff;
    display: block;
    font: 400 15px/44px "microsoft yahei";
    height: 44px;
    padding: 0 10px;
    text-decoration: none;
    width: 190px;
}
#categorys-2014 .dt s {
    position: relative;
    text-decoration: none;
    top: -9px;
}
#categorys-2014 .dt .ci-right {
    color: #fff;
    display: block;
    font: 700 20px/16px simsun;
    height: 7px;
    overflow: hidden;
    position: absolute;
    right: 7px;
    top: 20px;
    transition: transform 0.1s ease-in 0s;
}
#categorys-2014 .dd {
    background: #c81623 none repeat scroll 0 0;
    height: 466px;
    margin-top: 2px;
}
#categorys-2014 .dd-inner .item {
    border-left: 1px solid #b61d1d;
    color: #fff;
    height: 31px;
    position: relative;
    z-index: 1;
}
#categorys-2014 .dd-inner .item a {
    color: #fff;
}
#categorys-2014 .dd-inner h3 {
    font-family: "microsoft yahei";
    font-size: 14px;
    font-weight: 400;
    height: 31px;
    line-height: 31px;
    padding: 0 10px;
    position: absolute;
    z-index: 2;
}
#categorys-2014 .dd-inner i {
    font: 400 9px/14px consolas;
    height: 14px;
    position: absolute;
    right: 14px;
    top: 9px;
    width: 4px;
    z-index: 1;
}
#categorys-2014 .dd-inner .hover {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #b61d1d;
}
#categorys-2014 .dd-inner .hover a {
    color: #b61d1d;
}
#categorys-2014 .dd-inner .hover i {
    background: #f7f7f7 none repeat scroll 0 0;
    height: 31px;
    left: 205px;
    line-height: 200px;
    overflow: hidden;
    top: 0;
    width: 14px;
}
#categorys-2014 .dorpdown-layer {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #b61d1d;
    display: none;
    left: 209px;
    overflow: hidden;
    position: absolute;
    top: 45px;
    width: 779px;
}
#categorys-2014 .dorpdown-layer .hover {
    display: block;
}
#categorys-2014 .item-sub {
    display: none;
    overflow: hidden;
}
#categorys-2014 .item-sub::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
}
#categorys-2014 .item-channels {
    background: #f7f7f7 none repeat scroll 0 0;
    display: inline;
    float: left;
    height: 24px;
    overflow: hidden;
    padding: 20px 0 0 20px;
    width: 570px;
}
#categorys-2014 .item-channels a {
    background: #7c7171 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    float: left;
    line-height: 24px;
    margin-right: 10px;
    padding: 0 0 0 8px;
    white-space: nowrap;
}
#categorys-2014 .item-channels a:hover {
    background: #c81623 none repeat scroll 0 0;
}
#categorys-2014 .item-channels a:hover i {
    background: #b1191a none repeat scroll 0 0;
}
#categorys-2014 .item-channels i {
    background: #5c5251 none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    font: 400 9px/24px consolas;
    height: 24px;
    margin-left: 8px;
    text-align: center;
    width: 23px;
}
#categorys-2014 .item-channels .line {
    border-left: 1px solid #dbdbdb;
    display: inline;
    float: left;
    height: 24px;
    margin-right: 7px;
    overflow: hidden;
    width: 1px;
}
#categorys-2014 .item-channels .img-link {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    line-height: normal;
    padding: 0;
}
#categorys-2014 .item-channels .img-link:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#categorys-2014 .item-channels .style-red {
    background: #c81623 none repeat scroll 0 0;
}
#categorys-2014 .item-channels .style-red i {
    background: #b1191a none repeat scroll 0 0;
}
#categorys-2014 .item-channels .style-red:hover {
    background: #961019 none repeat scroll 0 0;
}
#categorys-2014 .item-channels .style-red:hover i {
    background: #851313 none repeat scroll 0 0;
}
#categorys-2014 .subitems {
    background: #f7f7f7 none repeat scroll 0 0;
    float: left;
    margin-bottom: -1000px;
    min-height: 409px;
    padding: 6px 0 1006px 20px;
    width: 570px;
}
#categorys-2014 .subitems dl {
    line-height: 2em;
    overflow: hidden;
    width: 100%;
}
#categorys-2014 .subitems dl.fore1 dd {
    border-top: medium none;
}
#categorys-2014 .subitems dt {
    float: left;
    font-weight: 700;
    padding: 8px 30px 0 0;
    position: relative;
    text-align: right;
    width: 54px;
}
#categorys-2014 .subitems dt i {
    font: 400 9px/14px consolas;
    height: 14px;
    position: absolute;
    right: 18px;
    top: 13px;
    width: 4px;
}
#categorys-2014 .subitems dd {
    border-top: 1px solid #eee;
    float: left;
    padding: 6px 0;
    width: 480px;
}
#categorys-2014 .subitems dd a {
    border-left: 1px solid #e0e0e0;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 4px 0;
    padding: 0 8px;
    white-space: nowrap;
}
#categorys-2014 .subitems .style-red {
    color: #c81623;
}
#categorys-2014 .item-brands {
    display: inline;
    float: right;
    margin: 19px 20px 10px 0;
    overflow: hidden;
    width: 168px;
}
#categorys-2014 .item-brands a {
    display: inline;
    float: left;
    margin: 1px 0 0 1px;
}
#categorys-2014 .item-promotions {
    display: inline;
    float: right;
    margin-right: 20px;
    width: 168px;
}
#categorys-2014 .item-promotions a {
    display: block;
    margin-bottom: 1px;
}
#nav-2014 .hover .dt .ci-right {
    transform: rotate(180deg);
}
#navitems-2014 {
    float: left;
    position: relative;
    z-index: 2;
}
#navitems-2014 .spacer, #navitems-2014 a, #navitems-2014 li, #navitems-2014 ul {
    float: left;
}
#navitems-2014 .spacer {
    display: none;
}
#navitems-2014 a {
    color: #333;
    font: 400 15px/44px "microsoft yahei";
    height: 44px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
}
#navitems-2014 a:hover {
    color: #c81623;
}
#navitems-2014 .spacer {
    background: #ddd none repeat scroll 0 0;
    height: 24px;
    margin: 10px 0 0;
    overflow: hidden;
    width: 1px;
}
#treasure {
    float: right;
}
.root61 #categorys-2014 .item-channels {
    width: 790px;
}
.root61 #categorys-2014 .dorpdown-layer {
    width: 999px;
}
.root61 #categorys-2014 .subitems {
    width: 790px;
}
.root61 #categorys-2014 .subitems dd {
    width: 620px;
}
.root61 #categorys-2014 .subitems-main1, .root61 #categorys-2014 .subitems-main2 {
    border-right: 1px solid #eee;
    float: left;
    margin-right: 10px;
    margin-top: 8px;
    padding-right: 10px;
    width: 365px;
}
.root61 #categorys-2014 .subitems-main1 dd, .root61 #categorys-2014 .subitems-main2 dd {
    width: 275px;
}
.root61 #categorys-2014 .subitems-main1 .fore1, .root61 #categorys-2014 .subitems-main1 .fore8, .root61 #categorys-2014 .subitems-main2 .fore1, .root61 #categorys-2014 .subitems-main2 .fore8 {
    margin-top: -5px;
}
.root61 #categorys-2014 .subitems-main1 .fore1 dd, .root61 #categorys-2014 .subitems-main1 .fore8 dd, .root61 #categorys-2014 .subitems-main2 .fore1 dd, .root61 #categorys-2014 .subitems-main2 .fore8 dd {
    border-top: 0 none;
}
.root61 #categorys-2014 .subitems-main2 {
    border-right: 0 none;
}
#settleup-2014 {
    float: right;
    height: 36px;
    margin-top: 25px;
    z-index: 11;
}
#settleup-2014 .cw-icon {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    height: 34px;
    line-height: 34px;
    padding: 0 28px 0 36px;
    text-align: center;
    width: 75px;
}
#settleup-2014 .ci-left {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/jd2015img.png") no-repeat scroll 0 -58px;
    height: 16px;
    left: 18px;
    top: 9px;
    width: 18px;
}
#settleup-2014 .ci-right {
    color: #999;
    font: 400 13px/13px simsun;
    height: 13px;
    overflow: hidden;
    right: 10px;
    top: 11px;
    width: 7px;
}
#settleup-2014 .ci-count {
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    left: 104px;
    line-height: 12px;
    min-width: 12px;
    padding: 1px 2px;
    position: absolute;
    text-align: center;
    top: -4px;
}
#settleup-2014.hover .cw-icon, #settleup-2014.hover .dorpdown-layer, #settleup-2014:hover .cw-icon, #settleup-2014:hover .dorpdown-layer {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#settleup-2014.hover .dorpdown-layer, #settleup-2014:hover .dorpdown-layer {
    display: block;
    right: 0;
    width: 308px;
}
#settleup-2014.hover .spacer, #settleup-2014:hover .spacer {
    background: #fff none repeat scroll 0 0;
    height: 12px;
    position: absolute;
    right: 0;
    top: -7px;
    width: 139px;
}
#settleup-2014 .prompt {
    padding: 10px 15px;
}
#settleup-2014 .nogoods {
    color: #999;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    padding-left: 30px;
}
#settleup-2014 .nogoods b {
    background-image: url("//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/2.0.0/i/settleup-nogoods.png");
    float: left;
    height: 49px;
    width: 56px;
}
#settleup-content {
    background: #fff none repeat scroll 0 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
#settleup-content .loading {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/loading.gif") no-repeat scroll center center;
    display: block;
    height: 50px;
}
#settleup-content .smt {
    height: 25px;
    line-height: 25px;
    padding: 6px 8px;
}
#settleup-content .smc {
    background: #fff none repeat scroll 0 0;
    height: auto !important;
    max-height: 344px;
    overflow-y: auto;
}
#settleup-content .smb {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 8px;
}
#settleup-content .smb .p-total {
    float: left;
    line-height: 29px;
}
#settleup-content .smb span {
    color: #c81623;
}
#settleup-content .smb a {
    background: #e4393c none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: 700;
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
    text-align: center;
}
#settleup-content ul {
    margin-top: -1px;
}
#settleup-content li {
    border-top: 1px dotted #ccc;
    line-height: 17px;
    overflow: hidden;
    padding: 8px 10px;
    vertical-align: bottom;
}
#settleup-content li.hover, #settleup-content li:hover {
    background: #f5f5f5 none repeat scroll 0 0;
}
#settleup-content li .gift {
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 282px;
}
#settleup-content li .gift a {
    color: #999;
}
#settleup-content li .gift-jq {
    clear: both;
    color: #999;
}
#settleup-content .p-img {
    border: 1px solid #ddd;
    float: left;
    font-size: 0;
    height: 50px;
    margin-right: 10px;
    padding: 0;
    width: 50px;
}
#settleup-content .p-name {
    float: left;
    height: 52px;
    width: 120px;
}
#settleup-content .p-detail {
    float: right;
    text-align: right;
}
#settleup-content .p-price {
    font-weight: 700;
}
#settleup-iframe {
    background: #fff none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#settleup-2014 .dt-mz {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 310px;
}
#settleup-2014 .dt-mz a {
    color: #999;
}
#settleup-2014 .dt-mz:hover {
    background: #fff none repeat scroll 0 0;
}
#mcart-suit .dt, #mcart-suit .dt:hover {
    background: #d3ebff none repeat scroll 0 0;
}
#mcart-mj .dt, #mcart-mj .dt:hover, #mcart-mz .dt, #mcart-mz .dt:hover {
    background: #bffab1 none repeat scroll 0 0;
}
#settleup-content .fr .hl-green, #settleup-content .fr .hl-orange {
    margin-right: 0;
}
#settleup-content .hl-green, #settleup-content .hl-orange {
    color: #fff;
    display: inline-block;
    font: 12px/16px simsun;
    margin-right: 5px;
    padding: 0 2px;
}
#settleup-content .hl-green {
    background: #3b0 none repeat scroll 0 0;
}
#settleup-content .hl-orange {
    background: #f60 none repeat scroll 0 0;
}
.root61 #settleup-2014 {
    margin-right: 65px;
}
#settleup-2014.hover .ci-left {
}
#footer-2014 {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0 30px;
    text-align: center;
}
#footer-2014 .links a {
    margin: 0 10px;
}
#footer-2014 .copyright {
    margin: 10px 0;
}
#footer-2014 .authentication a {
    margin: 0 5px;
    text-decoration: none;
}
#service-2014 {
    margin-bottom: 20px;
}
#service-2014 dl {
    float: left;
    width: 222px;
}
#service-2014 dl.fore5 {
    width: 100px;
}
#service-2014 dt {
    font: 400 16px/24px "microsoft yahei";
    padding: 6px 0;
}
#service-2014 dd {
    line-height: 20px;
}
#service-2014 .slogen {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 54px;
    margin-bottom: 14px;
    padding: 20px 0;
    position: relative;
    text-align: center;
}
#service-2014 .slogen .item {
    display: inline-block;
    font: 400 18px/50px "microsoft yahei";
    height: 54px;
    left: 50%;
    position: absolute;
    text-align: left;
    top: 20px;
    vertical-align: middle;
    width: 245px;
}
#service-2014 .slogen .item i {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 54px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 220px;
}
#service-2014 .slogen .item b {
    color: #c81623;
    font-size: 24px;
    padding: 0 10px;
}
#service-2014 .slogen .fore1 {
    margin-left: -490px;
}
#service-2014 .slogen .fore1 i {
    background-image: url("//misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_1.png");
}
#service-2014 .slogen .fore2 {
    margin-left: -245px;
}
#service-2014 .slogen .fore2 i {
    background-image: url("//misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_2.png");
}
#service-2014 .slogen .fore3 {
    margin-left: 0;
}
#service-2014 .slogen .fore3 i {
    background-image: url("//misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_3.png");
}
#service-2014 .slogen .fore4 {
    margin-left: 245px;
}
#service-2014 .slogen .fore4 i {
    background-image: url("//misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_4.png");
}
#coverage {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/product/skin/2013/i/20130330B_1.png") no-repeat scroll 60px -131px;
    float: right;
    height: 168px;
    width: 310px;
}
#coverage .dt {
    font: 400 16px/24px "microsoft yahei";
    padding: 6px 40px 15px 80px;
}
#coverage .dd {
    padding: 0 40px 15px 80px;
}
.root61 #service-2014 dl {
    width: 275px;
}
.root61 #service-2014 dl.fore5 {
    width: 100px;
}
.root61 #service-2014 .slogen .item {
    width: 302px;
}
.root61 #service-2014 .slogen .fore1 {
    margin-left: -604px;
}
.root61 #service-2014 .slogen .fore2 {
    margin-left: -304px;
}
.root61 #service-2014 .slogen .fore3 {
    margin-left: 0;
}
.root61 #service-2014 .slogen .fore4 {
    margin-left: 304px;
}
.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
    overflow: hidden;
    margin-left: 50px;
    margin-bottom: 10px;
}
.m, .sm {
    margin-bottom: 10px;
}
.mt h2, .smt h3 {
    font-family: "microsoft yahei";
}
.slide-controls span {
    color: #fff;
    display: inline-block;
}
.pagin a, .pagin span {
    border: 1px solid #ccc;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    overflow: hidden;
    padding: 3px 10px;
}
.pagin .current, .pagin .text {
    border: medium none;
    padding: 4px 11px;
}
.pagin a:link, .pagin a:visited {
    color: #005aa0;
}
.pagin a:active, .pagin a:hover {
    background: #005aa0 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.pagin .current, .pagin .current:link, .pagin .current:visited {
    color: #f60;
    font-weight: 700;
}
.pagin b {
    background-image: url("//misc.360buyimg.com/201007/skin/df/i/bg_hotsale.gif");
    background-repeat: no-repeat;
    display: block;
    height: 9px;
    overflow: hidden;
    position: absolute;
    top: 9px;
    width: 5px;
}
.pagin .next, .pagin .next-disabled, .pagin .prev, .pagin .prev-disabled {
    height: 18px;
    line-height: 18px;
    padding-top: 5px;
    position: relative;
}
.pagin .next-disabled, .pagin .prev-disabled {
    color: #ccc;
    cursor: default;
}
.pagin .prev, .pagin .prev-disabled {
    padding-left: 12px;
}
.pagin .prev b {
    background-position: -68px -608px;
    left: 3px;
}
.pagin .prev-disabled b {
    background-position: -80px -608px;
    left: 3px;
}
.pagin .next, .pagin .next-disabled {
    padding-right: 12px;
}
.pagin .next b {
    background-position: -62px -608px;
    right: 3px;
}
.pagin .next-disabled b {
    background-position: -74px -608px;
    right: 3px;
}
.pagin-m a, .pagin-m span {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}
.pagin-m b {
    top: 5px;
}
.pagin-m .next, .pagin-m .next-disabled, .pagin-m .prev, .pagin-m .prev-disabled {
    height: 14px;
    line-height: 14px;
    padding-top: 3px;
}
.thickframe {
    background: #000 none repeat scroll 0 0;
    border: 0 none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000;
}
.thickdiv {
    background: #000 none repeat scroll 0 0;
    border: 0 none;
    height: 100%;
    left: 0;
    opacity: 0.15;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000001;
}
.thickbox {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10000002;
}
.thicktitle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f3f3f3 none repeat scroll 0 0;
    border-color: #c4c4c4;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #333;
    font-family: arial,"宋体";
    font-size: 14px;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    padding: 0 10px;
}
.thickclose:link, .thickclose:visited {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/201007/skin/df/i/bg_thickbox.gif") no-repeat scroll 0 -18px;
    display: block;
    font-size: 0;
    height: 15px;
    line-height: 100px;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 7px;
    width: 15px;
    z-index: 100000;
}
.thickcon {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c4c4c4;
    overflow: auto;
    padding: 10px;
}
.thickloading {
    background: #fff url("//misc.360buyimg.com/201007/skin/df/i/loading.gif") no-repeat scroll center center;
}
.thickcountdown {
    color: #999;
    height: 20px;
    margin-top: -20px;
    padding-right: 6px;
    text-align: right;
}
#thicktitler {
    background: #8db7dc none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    padding: 0 11px;
}
#thickcloser:link, #thickcloser:visited {
    background-position: 0 0;
    height: 17px;
    right: 9px;
    top: 6px;
    width: 16px;
}
#thickconr {
    border: 1px solid #8db7dc;
}

.w {
    width: 990px;
}
#headers {
    margin-bottom: 10px;
    padding: 20px 5px;
    width: 980px;
}
#headers #logo {
    float: left;
}
#headers .step {
    float: right;
    margin-top: 21px;
}
.main {
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-family: Verdana;
    margin-bottom: 30px;
    overflow: hidden;
}
.main a:link, .main a:visited {
    color: #005a9d;
}
.o-mt h2 {
    background: #f3f3f3 none repeat scroll 0 0;
    font: 20px/35px 微软雅黑;
    height: 55px;
    padding-left: 20px;
}
.o-mb {
    background: #f3f3f3 none repeat scroll 0 0;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
}
.list-h {
    overflow: hidden;
}
.list-h li {
    float: left;
}
.m1 {
    background: #fffdee none repeat scroll 0 0;
    border: 1px solid #edd28b;
    margin-bottom: 40px;
    margin-right: 30px;
}
.m2 {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
}
.m3 {
    background: #f6fdf6 none repeat scroll 0 0;
    color: #666666;
}
.m4 {
    border-bottom: 1px solid #dddddd;
}
.m4 .mt h3 {
    color: #cc0000;
}
.m6 {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ffe6bc;
}
.btn {
    display: inline-block;
    padding-right: 13px;
}
.btn s {
    float: left;
    margin-right: 10px;
    width: 3px;
}
.btn, .btn s {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jd2008/skin/df/i/btn.png") no-repeat scroll 0 0;
}
.btn-1, .btn-5, .btn-9, .btn-13 {
    line-height: 36px;
}
.btn-2, .btn-6, .btn-10, .btn-14 {
    line-height: 30px;
}
.btn-3, .btn-7, .btn-11, .btn-15 {
    line-height: 25px;
}
.btn-4, .btn-8, .btn-12, .btn-16 {
    line-height: 21px;
}
.btn-1 s, .btn-5 s, .btn-9 s, .btn-13 s {
    height: 36px;
}
.btn-2 s, .btn-6 s, .btn-10 s, .btn-14 s {
    height: 30px;
}
.btn-3 s, .btn-7 s, .btn-11 s, .btn-15 s {
    height: 25px;
}
.btn-4 s, .btn-8 s, .btn-12 s, .btn-16 s {
    height: 21px;
}
.btn-1 {
    background-position: right -36px;
}
.btn-2 {
    background-position: right -104px;
}
.btn-2 s {
    background-position: 0 -73px;
}
.btn-3 {
    background-position: right -161px;
}
.btn-3 s {
    background-position: 0 -135px;
}
.btn-4 {
    background-position: right -209px;
}
.btn-4 s {
    background-position: 0 -187px;
}
.btn-5 {
    background-position: right -268px;
}
.btn-5 s {
    background-position: 0 -231px;
}
.btn-6 {
    background-position: right -336px;
}
.btn-6 s {
    background-position: 0 -305px;
}
.btn-7 {
    background-position: right -393px;
}
.btn-7 s {
    background-position: 0 -367px;
}
.btn-8 {
    background-position: right -441px;
}
.btn-8 s {
    background-position: 0 -419px;
}
.btn-9 {
    background-position: right -500px;
}
.btn-9 s {
    background-position: 0 -463px;
}
.btn-10 {
    background-position: right -568px;
}
.btn-10 s {
    background-position: 0 -537px;
}
.btn-11 {
    background-position: right -625px;
}
.btn-11 s {
    background-position: 0 -599px;
}
.btn-12 {
    background-position: right -673px;
}
.btn-12 s {
    background-position: 0 -651px;
}
.btn-1, .btn-5, .btn-6, .btn-13, .btn-14 {
    font-weight: bold;
    padding-right: 15px;
}
.btn-1 s, .btn-5 s, .btn-6 s, .btn-13 s, .btn-14 s {
    margin-right: 12px;
}
a.btn-5:link, a.btn-6:link, a.btn-7:link, a.btn-8:link, a.btn-10:link, a.btn-11:link, a.btn-12:link, a.btn-5:visited, a.btn-6:visited, a.btn-7:visited, a.btn-8:visited, a.btn-10:visited, a.btn-11:visited, a.btn-12:visited {
    color: #333333;
}
a.btn-1:link, a.btn-1:visited, a.btn-2:link, a.btn-2:visited, a.btn-3:link, a.btn-3:visited, a.btn-4:link, a.btn-4:visited {
    color: #ffffff;
}
a.btn-1, a.btn-5, a.btn-6, .btn-13, .btn-14 {
    font-size: 14px;
}
a.btn-8, a.btn-11, a.btn-12 {
    color: #333333;
}
a.btn-11:hover, a.btn-12:hover {
    color: #005aa0;
}
.btn-13, .btn-14, .btn-15, .btn-16 {
    color: #cccccc;
}
.btn-15, .btn-16 {
    font-weight: normal;
}
.btn-13 {
    background-position: right -731px;
}
.btn-13 s {
    background-position: 0 -695px;
}
.btn-14 {
    background-position: right -799px;
}
.btn-14 s {
    background-position: 0 -768px;
}
.btn-15 {
    background-position: right -856px;
}
.btn-15 s {
    background-position: 0 -830px;
}
.btn-16 {
    background-position: right -904px;
}
.btn-16 s {
    background-position: 0 -832px;
}
.btn-7, .btn-8, .btn-2 {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #e74649 0%, #df3033 100%) repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
}
.btn-7:hover, .btn-8:hover, .btn-2:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #f05356 0%, #eb3c3f 100%) repeat scroll 0 0;
    box-shadow: 0 1px 0 0 rgba(7, 0, 2, 0.2);
    text-decoration: none;
}
a.btn-7:link, a.btn-7:visited, a.btn-7:hover, a.btn-8:link, a.btn-8:visited, a.btn-8:hover {
    color: #fff;
}
.btn-15 {
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 2px;
    color: #ccc;
    cursor: default;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding-left: 11px;
    padding-right: 11px;
}
.btn-10, .btn-11, .btn-12 {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #f7f7f7 0%, #f2f2f2 100%) repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
}
.btn-10:hover, .btn-11:hover, .btn-12:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #f8f8f8 0%, #f8f8f8 100%) repeat scroll 0 0;
    box-shadow: 0 1px 0 0 rgba(7, 0, 2, 0.2);
    text-decoration: none;
}
.btn-7, .btn-11 {
    height: 25px;
    line-height: 25px;
}
.btn-8 {
    height: 21px;
    line-height: 21px;
}
.btn-10 {
    height: 30px;
    line-height: 30px;
}
.btn-12 {
    height: 21px;
    line-height: 21px;
}
a.btn-10:link, a.btn-10:visited, a.btn-10:hover, a.btn-12:link, a.btn-12:visited, a.btn-12:hover, a.btn-11:link, a.btn-11:visited, a.btn-11:hover {
    color: #333;
}
.btn-7 s, .btn-10 s, .btn-12 s, .btn-8 s, .btn-11 s, .btn-15 s, .btn-2 s {
    display: none;
}
.btn-sure, .btn-sured, .btn-conti, .btn-impay {
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 38px;
    line-height: 150px;
    overflow: hidden;
    vertical-align: middle;
    width: 155px;
}
.btn-sure:hover, .btn-conti:hover, .btn-impay:hover {
    background-position: 0 -38px;
}
.btn-sure, .btn-sured {
    background: rgba(0, 0, 0, 0) url("i/btn-07.png") no-repeat scroll 0 0;
}
.btn-sured {
    background-position: 0 -76px;
}
.btn-sure {
    background-position: 0 0;
}
.btn-conti {
    background: rgba(0, 0, 0, 0) url("i/btn-08.png") no-repeat scroll 0 0;
}
.btn-impay {
    background: rgba(0, 0, 0, 0) url("i/btn-03.png") no-repeat scroll 0 0;
}
.icon-info05 {
    background-position: -74px 0;
    height: 16px;
    width: 16px;
}
.icon-succ05 {
    background-position: -49px -235px;
    height: 16px;
    width: 16px;
}
.icon-info03 {
    background-position: -42px 0;
    height: 32px;
    width: 32px;
}
.icon-succ02, .icon-wrong02, .icon-warn02 {
    background-image: url("i/icon48.png");
    display: inline-block;
    font-size: 0;
    height: 48px;
    line-height: 0;
    overflow: hidden;
    width: 48px;
}
.icon-wrong02 {
    background-position: -48px 0;
}
.icon-warn02 {
    background-position: -96px 0;
}
.icon-ques05, .icon-info05 {
    background: rgba(0, 0, 0, 0) url("i/icon16.png") repeat scroll 0 0;
    display: inline-block;
    font-size: 0;
    height: 16px;
    line-height: 0;
    overflow: hidden;
    width: 16px;
}
.icon-ques05 {
    background-position: -48px 0;
}
.icon-info05 {
    background-position: -64px 0;
}
.prompt {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    width: 100px;
}
.pb {
    position: absolute;
}
.pb b {
    border: 4px dashed transparent;
    font-size: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
}
.pb .b1 {
    z-index: 1;
}
.pb .b2 {
    z-index: 2;
}
.pb b.b3 {
    border-width: 6px;
    z-index: 0;
}
html[xmlns*=""] .pb b.b3 {
    display: none;
}
.pb-t b {
    border-bottom-style: solid;
}
.pb-t .b1 {
    border-bottom-color: #c4c4c4;
    top: -1px;
}
.pb-t .b2 {
    border-bottom-color: #ffffff;
    top: 0;
}
.pb-t .b3 {
    border-bottom-color: rgba(0, 0, 0, 0.08);
    left: -1px;
    top: -3px;
}
.pb-r b {
    border-left-style: solid;
}
.pb-r .b1 {
    border-left-color: #edd28b;
    border-width: 11px;
    right: -11px;
    top: -1px;
}
.pb-r .b2 {
    border-left-color: #fffdee;
    right: -11px;
}
.pb-r .b3 {
    border-left-color: rgba(0, 0, 0, 0.15);
    left: 4px;
    top: -2px;
}
.pb-b b {
    border-top-style: solid;
}
.pb-b .b1 {
    border-top-color: #edd28b;
    bottom: -12px;
}
.pb-b .b2 {
    border-top-color: #fffdee;
    bottom: -11px;
}
.pb-b .b3 {
    border-top-color: rgba(0, 0, 0, 0.15);
    bottom: -19px;
    left: -2px;
}
.pb-l b {
    border-right-style: solid;
}
.pb-l .b1 {
    border-right-color: #c4c4c4;
    left: -1px;
    top: -9px;
}
.pb-l .b2 {
    border-right-color: #ffffff;
    top: -9px;
}
.pb-l .b3 {
    border-right-color: rgba(0, 0, 0, 0.08);
    left: -5px;
    top: -11px;
}
.ftx-01, a.flk-01:link, a.flk-01:visited, .flk-01 a:link, .flk-01 a:visited {
    color: #e4393c;
}
.ftx-02 {
    color: #7abd54;
}
.ftx-03, a.flk-03:link, a.flk-03:visited, .flk-03 a:link, .flk-03 a:visited {
    color: #999999;
}
.ftx-04, a.flk-04:link, a.flk-04:visited, .flk-04 a:link, .flk-04 a:visited {
    color: #ff6600;
}
.ftx-05, a.flk-05:link, a.flk-05:visited, .flk-05 a:link, .flk-05 a:visited {
    color: #005ea7;
}
.ftx-06 {
    color: #666666;
}
.step {
    background: #ededed none repeat scroll 0 0;
    color: #999999;
    font-weight: bold;
    margin: 0 auto 10px;
    overflow: hidden;
}
.step li {
    float: left;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 22px;
    padding-right: 35px;
    position: relative;
}
.step li b {
    background: rgba(0, 0, 0, 0) url("//misc.360buyimg.com/jd2008/skin/df/i/flow.gif") no-repeat scroll 0 0;
    height: 25px;
    position: absolute;
    right: -1px;
    top: 0;
    width: 22px;
}
#step1 .fore1, #step2 .fore2, #step3 .fore3, #step4 .fore4 {
    background: #ffe6bc none repeat scroll 0 0;
    color: #ff6600;
}
#step1 .fore1 b, #step2 .fore2 b, #step3 .fore3 b {
    background-position: 0 -26px;
}
#step2 .fore1, #step3 .fore1, #step3 .fore2, #step4 .fore1, #step4 .fore2, #step4 .fore3 {
    background: #bbbbbb none repeat scroll 0 0;
    color: #ffffff;
}
#step2 .fore1 b, #step3 .fore2 b, #step4 .fore3 b {
    background-position: 0 -78px;
}
#step3 .fore1 b, #step4 .fore2 b, #step4 .fore1 b {
    background-position: 0 -52px;
}
.form em {
    color: #ff6600;
    margin-right: 3px;
}
.form .item {
    margin-bottom: 10px;
    height:30px;
    margin-top: 20px;
    margin-left: 50px;
}
.form .label {
    color: #666666;
    float: left;
    text-align: center;
    margin-top: 3px;
}
.form .text, .form .area, .main .text, .main .area {
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 4px;
}
.form .text {
    width: 130px;
    margin-left: 10px;
}
.form .area {
    height: 55px;
    width: 300px;
}
.text-focus {
    border-color: #ffd300;
    border-width: 2px;
}
.text-error {
    border-color: #cc0000;
}
.text-none {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f7f7f8 none repeat scroll 0 0;
    border-color: #ccc #ededed #ededed #ccc;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #ccc;
}
.sele {
    margin-right: 10px;
}
.msg-text, .msg-error {
    float: left;
    line-height: 25px;
}
.msg-text {
    color: #999999;
}
.msg-error {
    color: #e4393c;
    margin-bottom: 12px;
}
.tabs {
    background-color: #fff;
    border-bottom: 1px solid #edd28b;
}
.tab {
    overflow: visible;
}
.tab li {
    border-right: 1px solid #edd28b;
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    padding: 0 13px;
    position: relative;
    text-align: center;
}
.tab li.curr {
    background: #fffdee none repeat scroll 0 0;
    height: 30px;
    margin-bottom: -1px;
}
.tab li.curr, .tab li.curr a:link, .tab li.curr a:visited {
    color: #ff6600;
}
.tab li a:link, .tab li a:visited {
    color: #333333;
}
.tips-01 {
    margin-bottom: 10px;
    padding: 10px 20px;
}
.p-extra {
    color: #333;
    margin-bottom: 10px;
}
.promptbz {
    border-color: #ddd;
    box-shadow: 0 0 10px #ddd;
    padding: 16px 20px;
    width: 503px;
    z-index: 2;
}
.promptbz .close {
    display: none;
}
.promptbz .pb-t {
    left: 253px;
    top: -8px;
}
.promptbz .pb-t b {
    border-bottom-style: solid;
}
.promptbz .pb-t .b1 {
    border-bottom-color: #ddd;
    top: -1px;
}
.promptbz .pb-t .b2 {
    border-bottom-color: #fff;
    top: 0;
}
.promptbz p {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 6px;
    padding-bottom: 6px;
}
.icon-bao {
    background-image: url("i/icon-bao.png");
    display: inline-block;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
    width: 15px;
}
.mb-tip {
    padding-top: 10px;
}
