<extend name="./Public/public"/>
<block name="title">
  <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>用户修改</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="{:U('Admin/User/update')}" enctype="multipart/form-data">
          	<input type="hidden" name="id" value="{$info['id']}">
            <div class="control-group">
              <label class="control-label">用户名</label>
              <div class="controls">
                <input type="text" name="username" class="colorpicker input-big span11"  data-color="#ffffff" value="{$info['username']}">
                <span class="help-block">请输入用户名</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">密码</label>
              <div class="controls">
                <input type="password" name="password" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)" value="{$info['password']}">
                <span class="help-block">请输入密码</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">年龄</label>
              <div class="controls">
                <input type="text" name="age" class="datepicker span11"  data-date-format="dd-mm-yyyy" data-date="01-02-2013" value="{$info['age']}">
                <span class="help-block">请输入年龄</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">性别</label>
              <div class="controls">
                <input type="radio" name="sex" value="男"<if condition="$info['sex'] eq 男">checked</if>>男
                <input type="radio" name="sex" value="女" <if condition="$info['sex'] eq 女">checked</if>>女
                <input type="radio" name="sex" value="保密"<if condition="$info['sex'] eq 保密">checked</if>>保密
                <span class="help-block">请输入性别</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">邮箱</label>
              <div class="controls">
                <input type="text" value="{$info['email']}" name="email" class="datepicker span11"  data-date-format="dd-mm-yyyy" data-date="01-02-2013">
                <span class="help-block">请输入邮箱</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">手机</label>
              <div class="controls">
                <input type="text" name="phone" value="{$info['phone']}" class="datepicker span11"  data-date-format="dd-mm-yyyy" data-date="01-02-2013">
                <span class="help-block">请输入手机</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">地址</label>
              <div class="controls">
                <input type="text" name="address" value="{$info['address']}" class="datepicker span11"  data-date-format="dd-mm-yyyy" data-date="01-02-2013">
                <span class="help-block">请输入地址</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">等级</label>
              <div class="controls">
               <select name="level" id="">
                 <option value="初级vip会员"<if condition="$info['level'] eq 初级vip会员">selected</if>>初级vip会员</option>
                 <option value="中级vip会员"<if condition="$info['level'] eq 中级vip会员">selected</if>>中级vip会员</option>
                 <option value="高级vip会员"<if condition="$info['level'] eq 高级vip会员">selected</if>>高级vip会员</option>
               </select>
                <span class="help-block">请输入邮箱</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">状态</label>
              <div class="controls">
               <select name="status" id="">
                 <option value="关闭"<if condition="$info['status'] eq 关闭">selected</if>>关闭</option>
                 <option value="开启"<if condition="$info['status'] eq 开启">selected</if>>开启</option>
               </select>
                <span class="help-block">请输入邮箱</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">头像上传</label>
              <div class="controls">
                <div class="input-append date datepicker" data-date="12-02-2012">
                  <input type="file" name="pic">
                </div>
                <br>
                <img src="__PUBLIC__/{$info['pic']}" width="50px">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">借阅数量</label>
              <div class="controls">
                <input type="text" name="booknum" value="{$info['booknum']}" class="datepicker span11"  data-date-format="dd-mm-yyyy" data-date="01-02-2013">
                <span class="help-block">请输入借阅数量</span> </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-success" type="submit">Save</button>
              <button class="btn btn-primary" type="submit">Reset</button>
              <button class="btn btn-info" type="submit">Edit</button>
              <button class="btn btn-danger" type="submit">Cancel</button>
            </div>
          </form>
        </div>
  </div>
</block>
