<extend name="./Public/public"/>
<block name="title">
  <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>图书馆公告添加</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="{:U('Admin/Title/insert')}" enctype="multipart/form-data">
          	<input type="hidden" name="id">
            <div class="control-group">
              <label class="control-label">公告名</label>
              <div class="controls">
                <input type="text" name="title">
                <span class="help-block">请输入公告名</span> </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">时间</label>
              <div class="controls">
                <input type="text" name="time" value="<?php echo date('Y-m-d H:i:s',time()); ?>">
            </div>
            <div class="form-actions">
              <button class="btn btn-success" type="submit">添加</button>
            </div>
          </form>
        </div>
  </div>
</block>
