<extend name="./Public/public"/>
<block name="title">
<div class="container-fluid">
	<div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href=""> <i class="icon-dashboard"></i> <span class="label label-important">20</span>用户列表</a> </li>
        <li class="bg_lg span3"> <a href=""> <i class="icon-signal"></i> 分类列表</a> </li>
        <li class="bg_ly"> <a href=""> <i class="icon-inbox"></i><span class="label label-success">101</span>图书列表</a> </li>
        <li class="bg_lo"> <a href=""> <i class="icon-th"></i>借阅表</a> </li>
        <li class="bg_ls"> <a href=""> <i class="icon-fullscreen"></i> 评论表</a> </li>
        <li class="bg_lo span3"> <a href=""> <i class="icon-th-list"></i>积分表</a> </li>
      </ul>
    </div>
</div>







  <!-- <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href=""> <i class="icon-dashboard"></i> <span class="label label-important">20</span> 用户列表 </a> </li>
      </ul>
    </div>
  </div>
</div> -->
</block>
