<extend name="./Head/head"/>
<!DOCTYPE html>
<html>
<head>
<block name="title">
<title>借阅表</title>
</block>
<link href="__PUBLIC__/Home/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Niconne' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="__PUBLIC__/Home/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){   
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
        });
      });
</script>
<style type="text/css">

  </style>
</head>
<body>
  <!-- header-section-starts -->
  <div class="about-header-banner">
    <div class="container">
      <div class="home">
          <a href="__PUBLIC__/Home/index.html"><span class="glyphicon glyphicon-home"></span></a>
      </div>
       <div class="header-top">
      <span id="clock"></span>
               <script type="text/javascript">
            // var clock =document.getElementById('clock');

            // function displayTime(){
              
            //   var now = new Date();
            //   clock.innerHTML =now.toLocaleTimeString();
            //   setTimeout(displayTime,1000);
            // }
            // window.onload =displayTime;
            </script>
         <span class="menu"><a href="{:U('Home/Index/index')}"><img src="__PUBLIC__/Home/images/nav.png" alt=""/></a></span>
         <div class="top-menu">
          <ul>
          <nav class="cl-effect-13">
          <li><a href="{:U('Home/Index/index')}">首页</a></li>
          <li><a href="{:U('Home/Advice/index')}">图书馆简介</a></li>
          <li><a href="{:U('Home/Book/gallery')}">经典图书</a></li>
          <li><a class="scroll" href="{:U('Home/Index/index/#news')}">图书馆新闻</a></li>
          <li><a href="{:U('Home/Book/typography')}">我的图书馆</a></li>
          <li><a href="{:U('Home/Charge/index')}">充值</a></li>
          <li><a href="{:U('Home/Book/contact')}">借阅详情</a></li>
          <li><?php
                if(empty($_SESSION['username']))
                  {
                  ?>
                 <a href="{:U('Home/Login/index')}">登录</a>
                
            <?php
              }else{
                echo "<a>".$_SESSION['username']."</a>";
              }
            ?></li>
          <li><a href="{:U('Home/Logout/Logout')}">退出</a></li>
          <li><a href="{:U('Home/Login/zhuce')}">注册</a></li>
          </nav>
          </ul>
        </div>
        <!-- script for menu -->
          <script> 
            $( "span.menu" ).click(function() {
            $( ".top-menu ul" ).slideToggle( 300, function() {
             // Animation complete.
            });
            });
          </script>
        <!-- //script for menu -->
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="banner-info text-center">
        <h1><a href="__PUBLIC__/Home/index.html">Brother Library</a></h1>
      </div>
    </div>
  </div>

  <!-- header-section-ends -->
   <!---start-content---->
   <block name="head">
        <div class="contact_desc">
            <div class="container">
               <div class="contact-form">
               <h2>借阅车</h2>
                  <table border="1" width="1000px" height="100px" style="margin-left:65px">
                  <tr>
                      <th style="text-align:center">ID</th>
                      <th style="text-align:center">图书名</th>
                      <th style="text-align:center">图书图片</th>
                      <th style="text-align:center">借阅数量</th>
                      <th style="text-align:center">所需积分</th>
                      <th style="text-align:center">借阅时间</th>
                      <th style="text-align:center">状态</th>
                      <th style="text-align:center">操作</th>
                  </tr>
                  <?php
                    $i=1;
                  ?>
                  <foreach name="jies" item="vo">
                  <tr>
                      <td style="text-align:center">
                      <?php
                      echo "$i";
                      $i++;
                      ?>
                      </td>
                      <td style="text-align:center">{$vo.book}</td>
                      <td style="text-align:center"><img src="__PUBLIC__{$vo.pic}" alt="" width="50px"></td>
                      <td style="text-align:center">{$vo.j_num}</td>
                      <td style="text-align:center">{$vo.S_jf}</td>
                      <td style="text-align:center">{$vo.jtime}</td>
                      <td style="text-align:center">
                        <?php
                            switch ($vo['i_j']) {
                              case '0':
                                echo '未借阅';
                                break;          
                              default:
                                echo '已借阅';
                                break;
                            }
                        ?>
                      </td>
                      <td style="text-align:center">
                      <a href="{:U('Home/Jieyue/update',array('j_id'=>$vo['j_id']))}">
                      <button class="btn btn-primary"><i class="icon-edit"></i>借阅</button></a>|
                      <a href="{:U('Home/Jieyue/delete',array('j_id'=>$vo['j_id']))}">
                      <button class="btn btn-danger btn-del"><i class="icon-edit"></i>删除</button></a></td>
                    
                  </tr>
                  </foreach>
                  <tr>
                      <td colspan="4" style="text-align:left"><a href="{:U('Home/Jieyue/del',array('jid'=>$_SESSION['uid']))}" class="btn btn-primary hvr-rectangle-in">清空</a></td>
                      <td colspan="4" style="text-align:right"><a href="{:U('Home/Jieyue/update',array('jid'=>$_SESSION['uid']))}" class="btn btn-primary hvr-rectangle-in">Confirmation of loan</a></td>
                  </tr>
              </table>
              <div class="clearfix"></div>
          </div>
              <div class="clearfix"></div>
                  </div>  
               </div>  
            </div>
            </block>
  <!-- footer-section -->
  <div class="footer">
    <div class="container">
      <div class="copyright text-center  top-menu">
       
        <ul>

            <li><a target="_blank" href="/other/wzdt">网站地图</a></li>
            <li>|</li>
            <li><a target="_blank" href="http://www.nankai.edu.cn">兄弟连图书馆</a></li>
            <!-- <li>|</li>
            <li><a href="http://202.113.20.163:8080/was40/info_win.htm" target="_blank">信息窗</a></li> -->
            <li>|</li>
            <li><a target="_blank" href="http://www2.lib.nankai.edu.cn/reader/Frame-reader.htm">馆办刊物</a></li>
            <li>|</li>
            <li><a target="_blank" href="http://www.nlc.gov.cn/">中国国家图书馆</a></li>
            <li>|</li>
            <li><a target="_blank" href="http://www.xhlib.net/">上海徐汇区图书馆</a></li>
            <li>|</li>
            <li><a target="_blank" href="http://www.pdlib.com/pdtsg_website/html/defaultsite/portal/index/index.htm">浦东图书馆</a></li>
            <li>|</li>
            <li><a target="_blank" href="http://www.tjdl.cn/">TALIS中心</a></li>
            <li>|</li>
            <li><a target="_blank" href="http://www.calis.edu.cn/calisnew/">CALIS中心</a></li>
            <li>|</li>
            <li><a target="_blank" href="http://www.cashl.edu.cn/portal/index.jsp">CASHL</a></li>
            <li>|</li>
            <li><a target="_blank" href="/other/xglj">相关链接</a></li>
          
      
        </ul>

         <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://localhost/project/index.php/Home/Index/index" target="_blank" >兄弟连图书馆</a> - Collect from <a href="http://localhost/project/index.php/Home/Index/index" title="图书馆" target="_blank">兄弟连图书馆</a></p>

      </div>
    </div>
  </div>
  <!-- footer-section -->
  <script type="text/javascript">
    $(document).ready(function() {
        /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
        */
    $().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="__PUBLIC__/Home/#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
</body>
</html>
