<extend name="./Public/public"/>
<block name="title">
  <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>分类添加</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="{:U('Admin/Cate/insert')}" enctype="multipart/form-data">
            <div class="control-group">
              <label class="control-label">分类名</label>
              <div class="controls">
                <input type="text" data-color="#ffffff" name="name">
                <span class="help-block">请输入分类名 </span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">选择分类</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select style="margin-top:5px" name="pid">
                    <option value="0">顶级分类</option>
                    <foreach name="cates" item="vo">
                    <option value="{$vo.id}">{$vo.name}</option>
                    
                    </foreach>>
                  
                </select>
            </div>
            <div class="form-actions control-group" style="margin-left:180px">
              <button class="btn btn-success" type="submit">添加</button>
            </div>
          </form>
        </div>
  </div>
</block>
