
<extend name="./Head/head"/>

<block name="title">
<title>我的图书馆</title>
</block>
<block name="head">
<block name="head">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css1/ht.css"/>
<div class="typrography">
  <div class="container">
      <h3 class="type text-center">我的图书馆</h3>
        <div id="main-r">
  <div id="main-p">
              
      <div class="left fl">
            <div class="div1">
            <div class="left_top">
              <img src="__PUBLIC__/Home/images/images2/bbb_01.jpg">
                <img src="__PUBLIC__/Home/images/images2/bbb_02.jpg" id="2">
                <img src="__PUBLIC__/Home/images/images2/bbb_03.jpg">
                <img src="__PUBLIC__/Home/images/images2/bbb_04.jpg">
            </div>
            <div class="div2">
            <div class="jbsz"></div>
                <a href="{:U('Home/User/index')}">个人信息</a>
            </div>
             <div class="div2">
            <div class="xwzx"></div>
               我的借阅
            </div>
            <div class="div3">
                 <ul>
                 <li> <a href="{:U('Home/Alljieyue/alljieyue')}">全部借阅</a></li>
               
                 </ul>
            </div>
            <div class="div2">
            <div class="zxcp"></div>
                我的积分
            </div>
            <div class="div3">
             <ul>
            <li>积分管理</li>
            <li>积分兑换</li>
                
             </ul>
            </div>
            <div class="div2">
            <div class="lmtj"></div>
                评价管理
            </div>
            <div class="div3">
                <ul>
            <li><a href="{:U('Home/User/comment')}">用户评价</a></li>
                 </ul>
            </div>
  
            <div class="div2">
            <div class="zxcp"></div>
                 服务中心
            </div>
            <div class="div3">
                <ul>
            <li><a href="{:U('Home/Kf/index')}">在线客服</a></li>
               
                 </ul>
            </div>
            <div class="div2">
            <div class="lmtj"></div>
                联系方式
            </div>
            <div class="div3">
                <ul>
            <li><a href="{:U('Home/Re/index')}">email</a></li>
                 </ul>
            </div>
            </div>
            </div>
    <div class="success9">
      
  <center>
  <div style="margin-top:-100px">
   <font style="color:#F6416C;font-weight:bold"><?php echo $_SESSION['username'];?>个人信息</font>
      <hr color="#e2e2e2">
  <form action="{:U('Home/User/edit')}" method="post" enctype="multipart/form-data">
    <table width="900px" border="0" cellspacing="0px">
    <input type="hidden" name="id" value="{$info['0']['id']}">
    <tr>
      <td style="text-align:center ;width:200px; height:100px ">头像:</td>
      <td>
      <br><img src="__PUBLIC__/{$info['0']['pic']}" width="80px"><input type="file" name="pic"></td>
    </tr>
   
    <tr>
      <td style="text-align:center">用户名:</td>
      <td><input style="width:800px;height:40px;border:0;background:#F3F3F3" type="text" value="{$info['0']['username']}" name="username" readonly></td>
    </tr>
    <tr>
      <td style="text-align:center">年龄:</td>
      <td><input style="width:800px;height:40px;border:0;background:#F3F3F3" type="text" value="{$info['0']['age']}" name="age"></td>
    </tr>
    <tr>
      <td style="text-align:center">性别:</td>
      <td>
        <input type="radio" name="sex" value="男"<if condition="$info['0']['sex'] eq 男">checked</if>>男
        <input type="radio" name="sex" value="女" <if condition="$info['0']['sex'] eq 女">checked</if>>女
        <input type="radio" name="sex" value="保密"<if condition="$info['0']['sex'] eq 保密">checked</if>>保密
      </td>
    </tr>
    <tr>
      <td style="text-align:center">邮箱:</td>
      <td><input style="width:800px;height:40px;border:0;background:#F3F3F3" type="text" value="{$info['0']['email']}" name="email" class="datepicker span11"  data-date-format="dd-mm-yyyy" data-date="01-02-2013"></td>
    </tr>
    <tr>
      <td style="text-align:center">手机</td>
      <td><input style="width:800px;height:40px;border:0;background:#F3F3F3" type="text" name="phone" value="{$info['0']['phone']}" class="datepicker span11"  data-date-format="dd-mm-yyyy" data-date="01-02-2013"></td>
    </tr>
    <tr>
      <td style="text-align:center">地址:</td>
      <td><input style="width:800px;height:40px;border:0;background:#F3F3F3" type="text" name="address" value="{$info['0']['address']}" class="datepicker span11"  data-date-format="dd-mm-yyyy" data-date="01-02-2013"></td>
    </tr>
    <tr>
      <td style="text-align:center">等级:</td>
      <td>
          {$info['0']['level']}
        
      </td>
    </tr>
    <tr>
      <td style="text-align:center">操作:</td>
      <td style="text-align:center"><input  type="submit" value="修改" style="width:100px;color:black;background:#369;border:0"></td>
    </tr>
    </table>
   </form>
     
     </center>
    </div>
      
    </div>
  </div>
    

      
  </div>    
 <script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>
<script>
$(function(){
  $(".div2").click(function(){ 
    $(this).next("div").slideToggle("slow").siblings(".div3:visible").slideUp("slow");
  });
});
</script>
<div class="clear"></div>
</block>