<extend name="./Public/public"/>
<block name="title">
  <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>充值修改</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="{:U('Admin/Charge/update')}" enctype="multipart/form-data">
          	<input type="hidden" name="id" value="{$info['id']}">
            <div class="control-group">
              <label class="control-label">状态</label>
              <div class="controls">
               <select name="statuss" id="">
                 <option value="未充值"<if condition="$info['status'] eq 0">selected</if>>未充值</option>
                 <option value="充值完成"<if condition="$info['status'] eq 1">selected</if>>充值完成</option>
               </select>
                <span class="help-block">请修改充值状态</span> </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-success" type="submit">Save</button>
              <button class="btn btn-primary" type="submit">Reset</button>
              <button class="btn btn-info" type="submit">Edit</button>
              <button class="btn btn-danger" type="submit">Cancel</button>
            </div>
          </form>
        </div>
  </div>
</block>
