<extend name="./Public/public"/>
<block name="title">
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.config.js"></script>

  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.all.min.js"> </script>

  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/lang/zh-cn/zh-cn.js"></script>

  <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>添加详情</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="{:U('Admin/Bookinfo/insert')}"  enctype="multipart/form-data">
          	<input type="hidden" name="id" value="{$_GET['id']}">
            <div class="control-group" style="text-align:center">
              <h3>{$info.title}</h3>
            </div>
            <div class="control-group">
              <label class="control-label">作者名</label>
              <div class="controls">
                <input type="text" name="author" class="colorpicker input-big span11"  data-color="#ffffff">
                <span class="help-block">请输入作者名</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">图书英文名</label>
              <div class="controls">
                <input type="text" name="Englishname" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入图书英文名</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">出版社</label>
              <div class="controls">
                <input type="text" name="press" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入出版社</span> </div>
            </div>
           <div class="control-group">
              <label class="control-label">平装</label>
              <div class="controls">
                <input type="text" name="page" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入页码</span> </div>
            </div>
           <div class="control-group">
              <label class="control-label">语言</label>
              <div class="controls">
                <input type="text" name="language" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入语言</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">开本</label>
              <div class="controls">
                <input type="text" name="format" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入开本页数</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">条形码</label>
              <div class="controls">
                <input type="text" name="bar" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)" >
                <span class="help-block">请输入条形码</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">尺寸</label>
              <div class="controls">
                <input type="text" name="size" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)" >
                <span class="help-block">请输入尺寸</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">重量(g)</label>
              <div class="controls">
                <input type="text" name="weight" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)" >
                <span class="help-block">请输入重量</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">品牌</label>
              <div class="controls">
                <input type="text" name="brand" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入品牌</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">ASIN</label>
              <div class="controls">
                <input type="text" name="asin" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入asin</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">相关图书</label>
              <div class="controls">
                <input type="text" name="relateb" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入相关图书《》</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">相关图书图片</label>
              <div class="controls">
                <div class="input-append date datepicker" data-date="12-02-2012">
                  <input type="file" name="relatepic">
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">作者简介</label>
              <div class="controls">
                <input type="text" name="about" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入作者简介</span> </div>
            </div>
            <div class="control-group">
              <label class="control-label">积分</label>
              <div class="controls">
                <input type="text" name="jf" class="colorpicker span11" data-color-format="rgba"  data-color="rgba(344,232,53,0.5)">
                <span class="help-block">请输入借阅次书所需积分</span> </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-success" type="submit">Save</button>
              <button class="btn btn-primary" type="submit">Reset</button>
              <button class="btn btn-info" type="submit">Edit</button>
              <button class="btn btn-danger" type="submit">Cancel</button>
            </div>
          </form>
        </div>
  </div>
  <script type="text/javascript">
    

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引就能拿到相关的实例用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')
    var ue = UE.getEditor('editor');
  </script>
</block>
